@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;
}
.header-nav {
    background-color: rgb(15, 15, 78);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.btn-bootstrap-override, .btn-bootstrap-override-2 {
    background-color:  rgb(15, 15, 78) !important;
    color: white;
    border: 1px solid white !important;
}
.btn-bootstrap-override:hover{
    background-color:  rgb(25, 25, 131);
    color: white;
    border: 1px solid white !important;
}
.social-links-div{
    flex-basis: 75%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
    background-color:  white;
    align-self: center;
}
    
.social-links-div a {
    height: 25px;
    width: 25px;
    margin-left: 3%;
}
.social-links-div img {
    height: 100%;
    width: 100%;
}
.nav-item-override a{
    color: white !important;
}
.link-align{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
    flex-wrap: wrap;
}
.link-align .tel{
    flex-basis: 20%;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    background-color:rgb(15, 15, 78);
    background-image: linear-gradient(to bottom,#104889,#0d1e48)
}
.tel p{
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin:0;
}
.cleaning-logo {
    display: flex;
    margin-left: 20%;
    height: 85px;
    width: 85px;
    
}
.cleaning-logo p {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.cleaning-logo img {
    height: 100%;
    
}
@media only screen and (max-width: 750px) {
   .link-align .tel {
       flex-basis: 50%;
   }
   .social-links-div{
       flex-basis: 50%;
   }
   .link-align .tel{
       justify-content: space-evenly;
   }
}
@media only screen and (max-width: 480px) {
    .link-align .tel {
        flex-basis: 100%;
    }
    .social-links-div{
        justify-content: center;
        order: -1;
        flex-basis: 100%;
    }
    .link-align{
        margin: 0;
    }
    .link-align .tel{
        justify-content: center;
    }
    .cleaning-logo{
        flex-basis: 100%;
        order: -1 !important;
        margin:0;
        margin-bottom: 5%;
        
    }
    .cleaning-logo p {
        align-self: center;
        flex-basis: 75%;
        margin-left: 20px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    .cleaning-logo img {
        flex-basis: 25%;
        height: 100%;
    }
}
.footer{
    margin-top: auto;
    background-color:rgb(15, 15, 78);
    background-image: linear-gradient(to bottom,#104889,#0d1e48)  !important;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
}